/*
 * Olympus Server Management
 * 
 * Front-end CSS 
 * 
 * Author: Gabriel Malveaux
 * gabe.malveaux@gmail.com
 */	
	
	
	
/*
 * CSS RESET 
 * 
 */
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
 /*
  * 
  * 
  * 
  */
		body{
			background:url('../cssimg/bg2.png') repeat;
			font-family: Arial, Helvetica, sans-serif;
			font-size:.85em;
		}
		#wrap{
			background:#fff;
			box-shadow:0px 2px 2px #444;
			width:960px;
			margin:0px auto;
			padding: 10px 10px 0px 10px;
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
			
		}
		
		.clear{
			clear:both;
		}
		.full{
			width:960px;
		}
		.full_box{ width:912px;}
		.small_content{
			width:240px;
			float:left;
			margin-right:10px;
		}
		.large_content{
			width:630px;
			float:left;
			margin-right:10px;
		}
		
		.height_50px{
			height: 50px;
		}
		
		.plugin_container_base{
			background: #ddd;
			border:3px solid #0033DD;
			border-radius: 3px;
			box-shadow:0px 1px 2px #0033DD;
			width:100px;
			height:100px;
			float:left;
			margin-right:10px;
			margin-top:10px;
			padding:10px;
			/*line-height: 100px;*/
			/*text-align:center;*/
			overflow: hidden;
		}
		.plugin_container_base img{
			width:200px;
			height:200px;
		}
		.plugin_container_base:hover{
			border:3px solid #1F497D;
			box-shadow:0px 1px 2px #444;
			border-radius: 3px;
			width:100px;
			height:100px;
			float:left;
			margin-right:10px;
		}
		

		
		h1{
			color:#0033DD;
			font-weight:normal;
			margin-bottom: 10px;
			margin-top: 20px;
			font-size: 2em;

		}
		h3{
			font-weight: normal;
			font-size:1.65em;
			margin-bottom:10px;
		}
		
		.italics{
			font-style: italic;
		}
		/*=== GLOBAL PLUGINS	===*/
		#global_plugins,#quick_info{
			border:6px solid #444;
			padding:10px 10px 10px 10px;
			margin-top:0px;
			background:#eee;
			border-radius: 2px;
			overflow-y: hidden;
			min-height: 102px;
		}
		
		#global_plugins ul,#quick_info ul{
			list-style: none;
		}
		#global_plugins li,#quick_info li{
			margin-left: 0px;
		}
		/*==========================/
	
		/*=== SERVER LIST	===*/
		#server_list,#server_plugins {
			border:6px solid #444;
			padding:10px 10px 10px 10px;
			margin-top:0px;
			background:#eee;
			border-radius: 2px;
			overflow-y: hidden;
			min-height: 102px;
		}
		
		#server_list ul,#server_plugins ul{
			list-style: none;
		}
		#server_list li,#server_plugins li{
			margin-left: 0px;
		}
		
		#server_list a, #server_list a:visited,#server_plugins a,#server_plugins a:visited{
			color:#0033DD;
			text-decoration: none;
			text-shadow: 0px 1px #AAA;
		}
		#server_list a:hover,#server_plugins a:hover {
			color:#444;
			text-shadow: none;
		}
		/*==========================/	
		
		/*=== PLUGINS LIST	===*/
		#running_plugins {
			border:6px solid #444;
			padding:10px 10px 10px 10px;
			margin-top:0px;
			background:#eee;
			border-radius: 2px;
			display:none;
		}
		
		/*==========================/
		
		/*=== TOP NAVIGATION	===*/
		#top_nav{
			margin-bottom: 10px;
			background:#444;
			color:#fff;
			height: 40px;
			border-top:6px solid #1F497D;	
			border-radius: 2px;
		}
		#top_nav ul{
			list-style:none;
			padding-top:13px;
		}
		#top_nav li{
			display:inline;
			margin-left:4px;
		}
		#top_nav a, #top_nav a:visited{
			color:#fff;
			text-decoration: none;
			padding:8px 8px 8px 8px;
		}
		#top_nav a:hover{
			color:#444;
			background:#fff;
			border-radius:4px;
		}
		#top_nav a:active{
			color:#000;
			background:#ddd;
			border-radius:4px;
			border:2px #000 solid;
			padding:6px 6px 6px 6px;
		}
		/*==========================*/
		
		/*=== FOOTER 			===*/
		#footer{
			border-bottom:6px solid #1F497D;
			background:#444;
			border-radius: 2px;
		}
		
		#footer ul{
			list-style: none;
			margin:10px;
			padding-top:6px;
			
		}
		
		#footer li{
			display:inline;
			
		}
		
		#footer li a{
			color:#fff;
			font-size:.85em;
		}
		#footer li a:hover{
			text-decoration: none;
		}
		/*=========================*/ 
